[submodule "Progetto_Natale"]
	path = Progetto_Natale
	url = https://github.com/DavideSar/ITS_Progetto_Natale.git

[submodule "Sensori_Temperatura"]
	path = Sensori_Temperatura
	url = https://github.com/DavideSar/Sensori-Temperatura.git
[submodule "Sensori_Oggetto"]
	path = Sensori_Oggetto
	url = https://github.com/DavideSar/ITS_Progetto_Sensori_Oggetto.git
[submodule "Motor.ino"]
	path = Motor.ino
	url = https://github.com/DavideSar/Motor.ino.git
[submodule "Arduino-NFC"]
	path = Arduino-NFC
	url = https://github.com/DavideSar/Arduino-NFC
